<!DOCTYPE html>
<html>
<head>
    <title>CSV Processed</title>
</head>
<body>
    <h1>Processing Complete!</h1>
    <p><a href="<%= file %>" download>Click here to download the final CSV</a></p>
</body>
</html>
