<!DOCTYPE html>
<html>
<head>
    <title>CSV Processor</title>
</head>
<body>
    <h1>Upload CSV Files</h1>
    
    <% if error %>
      <p style="color: red;"><%= error %></p>
    <% end %>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <label>Active Members CSV:</label>
        <input type="file" name="active"><br><br>

        <label>Expired Members CSV:</label>
        <input type="file" name="expired"><br><br>

        <label>Users CSV:</label>
        <input type="file" name="users"><br><br>

        <button type="submit">Process Files</button>
    </form>
</body>
</html>
